<a href="https://colab.research.google.com/github/shrul30/KKA-X-Semester-1/blob/main/%221_fungsi_print_zuhdan_x_10_ipynb'.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.Menampilkan Teks Bebas

In [ ]:
print("Helo world!")

Helo world!

#2.Menampilkan Nilai Variabel

In [ ]:
usia = 16

In [ ]:
print(usia)

16

In [ ]:
bb = 45

In [ ]:
Nama = "ZUHDAN SHRUL HAJJ"

print(Nama)

ZUHDAN SHRUL HAJJ

#3.Menampilkan Teks Bebas dan Nilai Variabel

In [ ]:
print(f"Perkenalkan nama saya {Nama}.")

Perkenalkan nama saya ZUHDAN SHRUL HAJJ.

In [ ]:
print("Berat badan saya " + str(bb) + " Kg.")

Berat badan saya 50 Kg.

#4.Escape Character

In [ ]:
print("Nama: ZUHDAN SHRUL HAJJ\nKelas: X.10\nNo. Absen: 36")

Nama: ZUHDAN SHRUL HAJJ
Kelas: X.10
No. Absen: 36

In [ ]:
print("""Nama\t\t: ZUHDAN SHRUL HAJJ
Kelas\t\t: X.10
No. Absen\t: 36""")

Nama		: ZUHDAN SHRUL HAJJ
Kelas		: X.10
No. Absen	: 36

In [ ]:
print("Nama: cakrakan\nKelas: X.10\nNo. Absen: 36")

Nama: cakrakan
Kelas: X.10
No. Absen: 36

In [ ]:
print("Lokasi File Tugas KKA: Local Disk C:\KKA\Tugas Shinta")

Lokasi File Tugas KKA: Local Disk C:\KKA\Tugas Shinta

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
/tmp/ipython-input-1684903844.py:1: SyntaxWarning: invalid escape sequence '\K'
  print("Lokasi File Tugas KKA: Local Disk C:\KKA\Tugas Shinta")

#5.Parameter Fungsi print()

In [ ]:
Tahun = 2009
Bulan = "Desember"
Tanggal = 9

In [ ]:
print(Tahun, Bulan, Tanggal, sep="-")

2009-Desember-9

In [ ]:
nama_depan = "Zuhdan"
nama_belakang = "shrul hajj"

print(nama_depan, end=" ")
print(nama_belakang)

Zuhdan shrul hajj